<!doctype html>
<html>
    <head>
        <title>Registro</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="registro2_1.css") }}">
    </head>
    <body>
        <h1 id="header"><a href="#index">La cocina de mami</a></h1>
        <ul id="navegador">
            <li><a href=" {{url_for('receta.inicio')}} ">Inicio</a></li>
            <li><a href="#">Categorias</a</li>
            <li><a href="#">Recetas</a></li>
            <li><a href=" {{url_for('auth.login')}} ">Iniciar sesion</a></li>
            <li><a href=" {{url_for('auth.register')}} ">Registrarse</a></li>
        </ul>
        <form method="POST">
            <div id="contenedor">
                <h2>La cocina de mami</h2>
                <label for="username">Nombre de Usuario</label>
                <br/>
                <input   name="username" id="username" required/>
                <br/>
                <label for="password">Password</label>
                <br/>
                <input type="password"name="password" id="password" required />
                <br/>
                <label for="nombre">Nombre</label>
                <br/>
                <input name="nombre" id="nombre" required />
                <br/>
                <label for="apellido">Apellido</label>
                <br/>
                <input name="apellido" id="apellido" required />
                <br/>
                <label for="email">Correo electronico</label>
                <br/>
                <input type="email" name="email" id="email" required />
                <br/>
                <br/>
                <select name="sexo">
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
                <br/>
                <input type="submit" value="Registrarse"/>
            </div>
        </form>
        <footer>
            <ul id="informacion">
                <li>2020</li>
                <li>By Jesus Figuera</li>
            </ul>
    </body>
</html>