<!doctype html>
<head>
    <head>
        <title>Recetas</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="inicio2_2.css") }}">
    </head>
    <body>
        <h1 id="header"><a href=" {{url_for('receta.inicio')}} ">La cocina de mami</a></h1>
        <ul id="navegador">
            <li><a href=" {{url_for('receta.inicio')}} ">Inicio</a></li>
            <li><a href=" {{url_for('receta.inicio')}} ">Categorias</a></li>
        </ul>
        {% for receta in receta %}
        <div id="contenedor">
            <h2> <a class="action" href="{{ url_for('receta.mostrar',id=receta['id']) }}"> {{receta['titulo']}} </a> </h2>
            <h3> <a class="action" href="{{ url_for('receta.mostrar',id=receta['id']) }}"> {{receta['categoria']}} </a> </h3>
            <img src=" {{receta['url']}} "/>
        </div>
        {% endfor %}
        <footer>
            <ul id="informacion">
                <li>2020</li>
                <li>By Jesus Figuera</li>
            </ul>
        </footer>
    </body>
</head>